<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

  <header class="page-header">
    <div class="img-preview">
      <div class="loadingIndicator" id="loadingIndicator"></div>
      <img src="aha/aha.gif" alt="" class="banner-img">
      <img src="" id="preview" class="gif-preview">
    </div>
    {{ content }}
  </header>

  <div class="gif-listing">
  {% include site-index.html %}
  </div>

  <script type="text/javascript">
    var preview = document.getElementById("preview");
      preview.onload = function(){ console.log('done loading'); document.getElementById("loadingIndicator").innerHTML = "" }; 

    function hoverListener(evt) {
      evt.preventDefault()
      preview.src = evt.target.href;
      el = document.getElementById("loadingIndicator");
      el.innerHTML = "Loading..."
    };

    var links = document.getElementsByClassName("gif");
    for(var i=0; i<links.length; i++) {
      links[i].addEventListener("click", hoverListener);
    }
  </script>

</body>

{% include closing-tags.html %}
